input[type="tel"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #2169da;
}

div {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
}

.otp-input {
  padding: 20px 0;
}
.otp-input > div {
  align-items: center;
  justify-content: center;
}
.otp-input > div > div {
  padding: 0 7.5px;
}
.otp-input input {
  width: 35px !important;
  border: 1px solid #eee;
  background: #fff;
  color: "red";
  height: 35px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 4px 12px 0 rgb(221 221 221 / 49%);
  border-radius: 6px;
}
.otp-input input:focus {
  border-color: #8c0bd7;
}

#titleImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#recapcha-container {
  /* display: none; */
  height: 100;
}
